body {
	width:100%;
}

h1 {
    color:blue;
    text-decoration:underline;
}

aside {
    width:20%;
    background-color:beige;
    float: left;
    border: thick black solid;
    padding:1%;
    text-align:center;
    
}

.container {
    width:79%;
    float:right;
    padding:1%;
    background-color:beige;
}

.topBtn {
    padding-top:10%;
}

.bottomBtn {
    padding-bottom:10%;
}
